.body {
  min-height: 100vh;
  background: darkslategray;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.send-tweet {
  color: white;
}

.nav {
  background: darkslategray;
  color: white;
}
